# To use a private endpoint like https://foo.quiknode.pro/12345678, set the relevant RPC_*_URL to https://foo.quiknode.pro/ and the RPC_*_API_KEY to 12345678

RPC_ARBITRUM_URL=https://sepolia-rollup.arbitrum.io/rpc/
RPC_BASE_URL=https://base-sepolia-rpc.publicnode.com
RPC_ETHEREUM_URL=https://ethereum-sepolia-rpc.publicnode.com/
RPC_POLYGON_URL=https://polygon-amoy-bor-rpc.publicnode.com/
RPC_OPTIMISM_URL=https://sepolia.optimism.io/
RPC_BLAST_URL=https://sepolia.blast.io/

RPC_ARBITRUM_API_KEY=
RPC_BASE_API_KEY=
RPC_ETHEREUM_API_KEY=
RPC_POLYGON_API_KEY=
RPC_OPTIMISM_API_KEY=
RPC_BLAST_API_KEY=
